@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/* logseq non-color vars */
:root {
    --ls-font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    /* --ls-font-family: Inter; */

    --ls-main-content-max-width: 900px; /* default: 810px; */
  /*--ls-main-content-max-width-wide: 100%*/

    --ls-tag-text-opacity: 0.6; /* default: 0.8; */
    --ls-tag-text-hover-opacity: 0.8; /* default: 1; */

/*
    --ls-right-sidebar-width: 40%;
    --ls-left-sidebar-nav-btn-size: 38px;
    --ls-left-sidebar-sm-width: 70%;
    --ls-left-sidebar-width: 246px;

    --ls-border-radius-low: 4px;
    --ls-border-radius-medium: 8px;

    --ls-draggable-handle-height: 30px;
    --ls-headbar-height: 3rem;
    --ls-headbar-inner-top-padding: 0px;
    --ls-scrollbar-width: 6px;

    --ls-page-text-size: 1em;
    --ls-page-title-size: 36px;

    --ls-z-index-level-0: 0;
    --ls-z-index-level-1: 9;
    --ls-z-index-level-2: 99;
    --ls-z-index-level-3: 999;
    --ls-z-index-level-4: 9999;
    --ls-z-index-level-5: 99999;
*/
}


#app-container {
    background-image: radial-gradient(
        var(--bujo-dots) 5%,
        var(--bujo-dots-background) 5%
    );
    background-position: 0 0;
    background-size: 25px 25px;
}

::selection {
    background-color: var(--ls-selection-background-color);
    color: var(--ls-selection-text-color);
}


/* ------------- */
/* SIDEBARS      */
/* ------------- */

/* right sidebar */

.cp__right-sidebar .sidebar-item {
    padding: 10px 20px 10px 6px;
    border: none;
    margin-bottom: 10px;
    border-radius: 4px;
}


/* left sidebar */

#left-sidebar .ui__icon {
    color: var(--ls-secondary-text-color);
}
#left-sidebar .ui__icon.tie-page {
    color: var(--ls-primary-text-color);
}


/* menu */

.menu-links-wrapper .menu-link {
    opacity: 1 !important;
}

.menu-links-wrapper .ui__icon {
    color: var(--ls-secondary-text-color);
}

.menu-links-wrapper .title-wrap {
    color: var(--ls-primary-text-color);
}


/* search */

.ls-search a.menu-link {
    color: var(--ls-primary-text-color);
}

.ls-search a.menu-link.chosen,
.ls-search a.menu-link:hover {
    color: var(--ls-secondary-text-color);
}

.ls-search .search-item svg,
.ls-search .search-result .type-icon,
.ls-search .search-result .type-icon::before {
    color: var(--ls-secondary-text-color);
    background: none;
    border: none;
}


/* ---- */
/* MAIN */
/* ---- */

.cp__sidebar-main-layout {
    background: none;
}


/* blocks with background */

.with-bg-color {
    border-radius: 3px;
    padding: 5px 6px;
}

.with-bg-color:is(h1, h2, h3, h4, h5, h6) {
    border-radius: 5px;
    padding: 5px 6px;
}


/* text decorations */

mark {
    background: var(--bujo-text-hightlight);
    color: var(--ls-secondary-text-color);
    border-radius: 3px;
    padding: 3px 5px;
}


b, strong, i {
    color: var(--ls-secondary-text-color);
}

mark > b,
mark > strong,
mark > i,
mark > i > b,
mark > b > i {
    color: var(--bujo-text-accent);
}

mark>code {
    background: var(--ls-block-highlight-color) !important;
    color: var(--bujo-text-accent) !important;
    padding: 3px 5px
}


/* code */

.copy-button:hover {
    background: 0 0;
}


/* page title */

h1.title {
    font-weight: 700;
}
a.asset-ref { /* title in pdf extension */
    color:  var(--ls-title-text-color);
}


/* properties */

.page-properties {
    border-radius: var(--ls-border-radius-low);
}

.page-property-key:hover {
    color: var(--bujo-text-accent);
    background: var(--ls-page-properties-background-color);
}


/* pdf asset link */

.asset-ref.is-pdf:before {
    content: "\eaa2"; /* https://tabler-icons.io/i/file-text */
    font-family: 'tabler-icons';

    color: var(--ls-secondary-text-color);
    opacity: 0.8;
    transition: .3s;
}
.asset-ref.is-pdf:hover:before {
    opacity: 1;
}
.asset-ref.is-pdf:after {
    content: "";
}
.asset-ref.is-pdf {
    color: var(--ls-link-ref-text-color);
}
.asset-ref.is-pdf:hover {
    color: var(--ls-link-ref-text-hover-color);
}


/* page link */

.page-reference .bracket {
    opacity: .5;
    color: var(--bujo-link-ref-brackets);
}

.page-reference:hover {
    background: var(--bujo-shadow);
}

.ls-block.selected .page-reference:hover,
mark .page-reference:hover {
    background: var(--bujo-shadow-black);
}


/* page tags section */

.page-tags a {
    color: var(--ls-link-ref-text-color);
}
.page-tags a:hover {
    color: var(--ls-link-ref-text-hover-color);
}


/* block references */

.block-ref {
    padding: 2px 5px;
    border-radius: 3px;

    background: var(--bujo-block-embed-background);
    color: var(--ls-secondary-text-color);
    border-bottom: none;
}
.block-ref:hover {
    color: var(--ls-secondary-text-color); /* same as w/o hover */
    background: var(--bujo-block-embed-background-hover);
}


/* linked references filter */

.fade-link {
    color:  var(--ls-primary-text-color);
    opacity: 0.8;
}
.fade-link:hover {
    color:  var(--ls-primary-text-color);
}


/* linked & unlinked references */

.references h2 {
    opacity: .3;
}


/* custom query first line */

.custom-query-title .title-text {
    color:  var(--ls-primary-text-color);
    opacity: 0.8;
}

.custom-query-title .result-count {
    color:  var(--ls-primary-text-color);
    opacity: 0.6;
}

.cp__sidebar-main-layout a > svg {
    color: var(--ls-icon-color);
    opacity: 0.8;
}


/* custom query second line */

/* "Table view" text label: there is no specifyed class */
.custom-query .text-sm {
    color:  var(--ls-primary-text-color);
    opacity: 0.7;
}

.table-query-properties {
    opacity: 0.7;
}


/* task */

.form-checkbox {
    border-radius: 2px;
    z-index: var(--ls-z-index-level-1);
}

.marker-switch {
    border-radius: 2px;

    opacity: 1;
    padding: 0;
    margin: 0 5px 0 2px;

    margin-left: -23px;
    padding-left: 24px;
    padding-right: 14px;
}

.marker-switch, .block-ref .marker-switch {
    color: var(--ls-marker-text-color);
    background: var(--ls-marker-text-bg-color);
}

.block-ref .marker-switch {
    opacity: 0.7;
}

.marker-switch:hover, .block-ref .marker-switch:hover {
    color: var(--ls-marker-text-color);
    background: var(--ls-marker-text-bg-hover-color);
}


/* task priority */
/* (forked from logseq-flow-theme) */

a.priority {
    opacity: 1 !important;
    font-size: 0px;
    color: #0000;
}
a.priority::before {
    font-family: 'tabler-icons';
    font-size: 11px;
    padding: 2px 2px;
    margin-right: 0px;
    border-radius: 2px;
    position: relative;
    color: var(--bujo-text-accent);
}
a.priority[href="#/page/A" i]::before {
    content: "\ea66";
    background-color: var(--ls-highlight-color-red);
}
a.priority[href="#/page/B" i]::before {
    content: "\ee87";
    background-color: var(--ls-highlight-color-yellow);
}
a.priority[href="#/page/C" i]::before {
    content: "\ea5f";
    background-color: var(--ls-highlight-color-blue);
}
.done {
    opacity: 1;
}


/* ----------- */
/* Code Mirror */
/* ----------- */

#right-sidebar pre.CodeMirror-line {
    background: transparent;
}

.extensions__code-lang {
    margin: 2px;
    background-color: transparent;
    color: var(--ls-primary-text-color);
    opacity: .5;
}

html[data-theme="dark"] .CodeMirror {
    background-color: var(--ls-secondary-background-color);
    color: var(--ls-primary-text-color);
    border-radius: 4px;
    text-shadow: none;
}
html[data-theme="dark"] .CodeMirror .CodeMirror-gutters {
    background-color: var(--ls-secondary-background-color);
}
html[data-theme="dark"] .CodeMirror .CodeMirror-cursor {
    border-left: solid thin var(--bujo-caret);
}

html[data-theme="dark"] .CodeMirror .CodeMirror-gutter-filler,
html[data-theme="dark"] .CodeMirror .CodeMirror-scrollbar-filler {
    background-color: none;
}
html[data-theme="dark"] .CodeMirror .CodeMirror-scroll {
    padding-bottom: 50px;
    padding-top: 0px;
}

html[data-theme="dark"] .CodeMirror .CodeMirror-linenumber {
    text-shadow: none;
    opacity: .5;
    color: var(--ls-primary-text-color);
    text-align: center;
}
html[data-theme="dark"] .CodeMirror .CodeMirror-line {
    box-shadow: none;
}

html[data-theme="dark"] .CodeMirror .CodeMirror-activeline-background {
    background: var(--bujo-shadow-white);
}

html[data-theme="dark"] .CodeMirror .CodeMirror-selected,
html[data-theme="dark"] .CodeMirror .CodeMirror-line::selection,
html[data-theme="dark"] .CodeMirror .CodeMirror-line > span::selection,
html[data-theme="dark"] .cm-s-default .CodeMirror-line > span > span::selection {
    background: var(--bujo-highlight-normal);
}


/* pdf extension */

.extensions__pdf-toolbar a.button > svg {
    color: var(--ls-icon-color);
}

.ls-hl-colored .block-content[data-hl-color="purple"] .prefix-link:before {
    content: "\ec9c  "; /* https://tabler-icons.io/i/pin */
    font-family: "tabler-icons";
    color: var(--color-purple-500);
}
.ls-hl-colored .block-content[data-hl-color="green"] .prefix-link:before {
    content: "\ec9c  ";
    font-family: "tabler-icons";
    color: var(--color-green-500);
}
.ls-hl-colored .block-content[data-hl-color="red"] .prefix-link:before {
    content: "\ec9c  ";
    font-family: "tabler-icons";
    color: var(--color-red-400);
}
.ls-hl-colored .block-content[data-hl-color="blue"] .prefix-link:before {
    content: "\ec9c  ";
    font-family: "tabler-icons";
    color: var(--color-blue-500);
}
.ls-hl-colored .block-content[data-hl-color="yellow"] .prefix-link:before {
    content: "\ec9c  ";
    font-family: "tabler-icons";
    color: var(--color-yellow-400);
}

.block-content[data-type="annotation"] .prefix-link:before {
    content: "\ec9c  " ;
    font-family: "tabler-icons";
    color: var(--ls-secondary-text-color);
    opacity: .8;
}


/* ---- */
/* MISC */
/* ---- */

/* fix right sidebar items indentation */

.sidebar-item div.ml-1 {
    margin-left: 0;
}


/* generalize right sidebar items hover style */

.sidebar-item a.page-title {
    transition: .3s;
}
.sidebar-item a.page-title:hover {
    color: var(--ls-link-ref-text-hover-color);
}
.sidebar-item .breadcrumb > a a.page-ref:hover {
    color: var(--ls-link-ref-text-hover-color);
}


/* calculator */

.extensions__code-calc {
    background: var(--ls-tertiary-background-color);
}


/* decrease embeded videos' margins */

iframe {
    margin-bottom: 0.2rem;
}

textarea {
    caret-color: var(--bujo-caret);
}


/* date picker */

.datepicker td.active,
.datepicker td.available:hover {
    color: var(--ls-secondary-text-color);
}


/* callouts (admonitions) */

svg.tip {
    color: var(--ls-primary-text-color);
}


/* settings */

.form-input {
    background-color: var(--ls-primary-background-color) !important;
}


/* button */

.ui__button:not(.to-heading-button) {
    background: var(--bujo-button-background);
    color: var(--bujo-button-text);
}
.ui__button:not(.to-heading-button):hover {
    background: var(--bujo-button-background-hover);
}


/* toggle */

.cp__settings-inner .panel-wrap span[role=checkbox]:hover {
    opacity: 1;
}

.ui__toggle [aria-checked="false"] {
    background-color: var(--bujo-toggle-off);
}
.ui__toggle [aria-checked="false"]:hover {
    background-color: var(--bujo-toggle-off-hover);
}
.ui__toggle [aria-checked="false"] .switcher {
    background-color: var(--bujo-toggle-switcher-off);
}
.ui__toggle [aria-checked="false"]:hover .switcher {
    background-color: var(--bujo-toggle-switcher-off);
}


.ui__toggle [aria-checked="true"] {
    background-color: var(--bujo-toggle-on);
}
.ui__toggle [aria-checked="true"]:hover {
    background-color: var(--bujo-toggle-on-hover);
}
.ui__toggle [aria-checked="true"] .switcher {
    background-color: var(--bujo-toggle-switcher-on);
}
.ui__toggle [aria-checked="true"]:hover .switcher {
    background-color: var(--bujo-toggle-switcher-on);
}
