@import './base.css';


.dark-theme, html[data-theme=dark] {
    --bujo-highlight-color1: #1D4544;
    --bujo-highlight-color2: #196755;
    --bujo-highlight-color3: #4B9A7D;
    --bujo-highlight-color4: #79B990;
    --bujo-highlight-color5: #93CEA9;

    --bujo-accent-color1: #B9543B;
    --bujo-accent-color2: #DD745B;
    --bujo-accent-color3: #EB8E77;

    --bujo-background-color1: #1D1614;
    --bujo-background-color2: #211C1B;
    --bujo-background-color3: #27211F;
    --bujo-background-color4: #2B2524;
    --bujo-background-color5: #362F2E;

    --bujo-box-color1_rgb: 60, 38, 41; /* #3C2629; */
    --bujo-box-color1: rgb(var(--bujo-box-color1_rgb));
    --bujo-box-color2: #52373A;
    --bujo-box-color3: #5D3E41;
    --bujo-box-color4: #935C62;
    --bujo-box-color5_rgb: 121, 94, 110; /* #795E6E; */
    --bujo-box-color5: rgb(var(--bujo-box-color5_rgb));

    --bujo-foreground-color1: #423834;
    --bujo-foreground-color2: #61554D;
    --bujo-foreground-color3: #9E836D;
    --bujo-foreground-color4: #C4B2A6;
    --bujo-foreground-color5: #E0D8CB;
    --bujo-foreground-color6: #ECE7DF;
}
