@import './base.css';

.dark-theme, html[data-theme=dark] {
/*#EA989F  selection
  
rgb(92, 112, 128)    r-sidebar bg #5c7080
#52373a  marker-switch bg
#5d3e41  marker-switch hover bg
#F2DDDF
#EEB8BD
rgba(70, 56, 61) ref selected  #46383d*/

    --bujo-highlight-color1: #5d1f3d;
    --bujo-highlight-color2: #761a3f;
    --bujo-highlight-color3: #AB3641;
    --bujo-highlight-color4: #cc515c;
    --bujo-highlight-color5: #EF515F;

    --bujo-accent-color1: #761a3f;
    --bujo-accent-color2: #b7dc6e;
    --bujo-accent-color3: #d6f991;

    --bujo-background-color1: red;
    --bujo-background-color2: #181818;
    --bujo-background-color3: #202020;
    /*#232323 ls-guideline-color*/
    /*#272727 ls-block-properties-background-color*/
    --bujo-background-color4: #303030;
    /*#373737 dotted bg 1*/
    --bujo-background-color5: #404040;

    --bujo-box-color1_rgb: 41, 35, 35; /* #292323; */
    --bujo-box-color1: rgb(var(--bujo-box-color1_rgb));
    --bujo-box-color2: #31282c;
    --bujo-box-color3: #854653;
    --bujo-box-color4: #935c62;
    --bujo-box-color5_rgb: 121, 94, 110; /* #795E6E; */
    --bujo-box-color5: rgb(var(--bujo-box-color5_rgb));

    --bujo-foreground-color1: #4c3841;
    --bujo-foreground-color2: #FFE27C; /*#b187a5*/
    --bujo-foreground-color3: #ffe0a7;
    --bujo-foreground-color4: #dfdfdf;
    --bujo-foreground-color5: #e4e0de;
    --bujo-foreground-color6: #e4e0de;


/*    --ls-page-blockquote-bg-color: var(--bujo-background-color3);
    --ls-page-inline-code-bg-color: var(--bujo-box-color2);*/
}
